<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Leet Speak</title>
  </head>
  <body>
    <div class="container">
      <h1>Enter a phrase to be translated to LEET SPEAK: </h1>
      <form action="/phrase" method="post">
        <div class="form-group">
          <label for="userInput">Enter a phrase here</label>
          <input type="text" id="userInput" name="userInput">
        <div><br>
          <button type="submit" class="btn btn-info">Translate your phrase</button>
        </div>
        </div>

        <h3>Translation: </h3>
        <ul>
          <li>@Model</li>
        </ul>
      </form>
    </div>
  </body>
</html>
